<!DOCTYPE html>
<html>
<head>
    <title>YOLO Live Stream</title>
    <style>
        body {
            background-color: #121212;
            color: white;
            text-align: center;
            font-family: sans-serif;
        }
        img {
            border: 5px solid #fff;
            border-radius: 12px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Live Object Detection Stream</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
</body>
</html>
